.editor_btn {
  background: rgb(24, 24, 24);
  width: 450px;
  display: flex;
  color: white;
  justify-content: space-between;
}
.generate {
  margin: 20px;
  width: 100%;
}
.reset {
  margin: 20px;
  width: 100%;
}
